-if user_signed_in?
  -if current_user.group ==3
    %h1= t :editing_book_topic
    
    = render 'form'
    
    = link_to (t :show), @book_category
    \|
    = link_to (t :back), book_categories_path
