<!-- Welcome-->
<div class="span8 offset2" >
	<table class="table table-bordered ">
		<thead>
			<th class=" label-success"> Chào mừng bạn đến với CrazyLib </th>
		</thead>
		<tr>
			<td class="text"> Mục đích chính của CrazyLib là chia sẽ những cuốn sách bạn yêu thích.
			<br/>
			Hãy <a class="text-info" href="/contact">liên hệ</a> BQT nếu bạn gặp khó khăn khi tham gia tracker!
			<br/>
			CrazyLib luôn mở cửa đón nhận thành viên mới.
			<br/>
			Trước khi tham gia. Chúng tôi khuyên bạn nên xem kỹ <a class="text-info" href="/rule">Nội Quy</a>!
			<br/>
			Hãy chắc chắn bạn đã làm đúng các quy định!
			<br/>
			</td>
		</tr>
	</table>

	<!-- Content-->
	<table class="table table-bordered">
		<thead>
			<th class=" label-success"> Content </th>
		</thead>
		<tr>
			<td class="text">
			<ul>
				<li>
					<a href="#id1"><b>Thông tin về CrazyLib</b></a>
					<ul>
						<li>
							<a href="#id10" class="text-error">Website này là gì?</a>
						</li>
						<li>
							<a href="#id11" class="text-error">Tôi được lợi gì khi tham gia website?</a>
						</li>
						<li>
							<a href="#id12" class="text-error">Làm sao để có liên hệ tác giả của CrazyLib?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#id2"><b>Thông tin về user</b></a>
					<ul>
						<li>
							<a href="#id20" class="text-error">Làm sao để đăng ký thành viên?</a>
						</li>
						<li>
							<a href="#id21" class="text-error">Làm thế nào để lấy lại mật khẩu khi tôi quên mất nó?</a>
						</li>
						<li>
							<a href="#id22" class="text-error">Làm sao để thay đổi thông tin của tôi trên website?</a>
						</li>
						<li>
							<a href="#id23" class="text-error">Tôi có thể xem thông tin các thành viên khác không?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#id3"><b>Mượn trả sách</b></a>
					<ul>
						<li>
							<a href="#id30" class="text-error">Làm sao để tìm kiếm một cuốn sách?</a>
						</li>
						<li>
							<a href="#id31" class="text-error">Làm thế nào để mượn một cuốn sách?</a>
						</li>
						<li>
							<a href="#id32" class="text-error">Làm sao để trả sách đã mượn?</a>
						</li>
						<li>
							<a href="#id33" class="text-error">Tôi có thể mượn bao nhiêu cuốn sách một lúc?</a>
						</li>
						<li>
							<a href="#id34" class="text-error">Tôi có thể trễ hạn trả sách được không?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#id4"><b>Khác</b></a>
					<ul>
						<li>
							<a href="#id40" class="text-error">Tôi phải làm thế nào nếu vấn đề tôi cần biết không có ở đây?</a>
						</li>
					</ul>
				</li>
			</ul></td>
		</tr>
	</table>
	<!-- Answer -->
	<table class="table table-bordered">
		<span id="id1"></span>
		<thead>
			<th class=" label-success"> Thông tin về CrazyLib </th>
		</thead>
		<tr>
			<td><span id="id10" class="text-info"><b>Website này là gì?</b></span>
			<br/>
			<div class="text">
				Website này là CrazyLib, được tạo ra nhằm quản lý thư viện.
				Giúp người dùng dễ dàng mượn trả sách thông qua Internet.
			</div></td>
		</tr>
		<tr>
			<td><span id="id11" class="text-info"><b>Tôi được lợi gì khi tham gia website?</b></span>
			<br/>
			<div class="text">
				Bạn phải đăng ký thành viên thì mới được mượn sách từ thư viện.
			</div></td>
		</tr>
		<tr>
			<td><span id="id12" class="text-info"><b>Làm sao để có liên hệ tác giả của CrazyLib?</b></span>
			<br/>
			<div class="text">
				Bạn có thể vào phần Contact ở thanh navbar trên cùng của website.
				Ở đó bạn có thể thấy các thông tin cần thiết để liên lạc các tác giả của website này.
			</div></td>
		</tr>
	</table>
	<table class="table table-bordered">
		<span id="id2"></span>
		<thead>
			<th class=" label-success"> Thông tin về user </th>
		</thead>
		<tr>
			<td><span id="id20" class="text-info"><b>Làm sao để đăng ký thành viên?</b></span>
			<br/>
			<div class="text">
				Bạn có thể đăng ký thành viên bằng cách nhấn vào nút Register ở góc phải màn hình.
				<br/>
				Hoặc nhấn vào <a href="/users/sign_in" class="text-info">đây</a>.
			</div></td>
		</tr>
		<tr>
			<td><span id="id21" class="text-info"><b>Làm thế nào để lấy lại mật khẩu khi tôi quên mất nó?</b></span>
			<br/>
			<div class="text">
				Nếu đăng nhập thất bại, bạn sẽ nhìn thấy đường link "Forgot your password?".
				Nhấn vào đó và điền các thông tin cần thiết bạn sẽ có mật khẩu mới.
				<br/>
				Hoặc, nếu không tìm thấy, hãy nhấn vào <a href="/users/password/new">đây</a>.
			</div></td>
		</tr>
		<tr>
			<td><span id="id22" class="text-info"><b>Làm sao để thay đổi thông tin của tôi trên website?</b></span>
			<br/>
			<div class="text">
				Sau khi đăng nhập, bạn bla bla bla.
			</div></td>
		</tr>
		<tr>
			<td><span id="id23" class="text-info"><b>Tôi có thể xem thông tin các thành viên khác không?</b></span>
			<br/>
			<div class="text">
				Chức năng này hiện chưa được cung cấp.
			</div></td>
		</tr>
	</table>
	<table class="table table-bordered">
		<span id="id3"></span>
		<thead>
			<th class=" label-success">Mượn trả sách</th>
		</thead>
		<tr>
			<td><span id="id30" class="text-info"><b>Làm sao để tìm kiếm một cuốn sách?</b></span>
			<br/>
			<div class="text">
				Bạn có thể tìm kiếm nhanh bằng khung tìm kiếm trên thanh công cụ.
				<br/>
				Để tìm kiếm kĩ hơn với nhiều chức năng hơn, hãy nhấn vào công cụ "Search" phía trên màn hình.
				<br/>
				Hoặc nhấn vào <a href="/books/search">đây</a>.
			</div></td>
		</tr>
		<tr>
			<td><span id="id31" class="text-info"><b>Làm thế nào để mượn một cuốn sách?</b></span>
			<br/>
			<div class="text">
				Bạn phải đăng ký thành viên thì mới được mượn sách từ thư viện.
				<br/>
				Sau khi tìm kiếm được cuốn sách bạn ưa thích, bạn sẽ  nút "Đăng ký mượn" trong thông tin của sách.
				<br/>
				Hãy nhấn vào đó. Cuốn sách của bạn sẽ được đặt chỗ tại thư viện.
				<br/>
				Hãy đến thư viện để nhận sách sau khi đăng ký mượn thành công.
			</div></td>
		</tr>
		<tr>
			<td><span id="id32" class="text-info"><b>Làm sao để trả sách đã mượn?</b></span>
			<br/>
			<div class="text">
				Hãy đem sách đến trả tại thư viện, hệ thống sẽ cập nhật thông tin sau khi bạn trả sách.
			</div></td>
		</tr>
		<tr>
			<td><span id="id33" class="text-info"><b>Tôi có thể mượn bao nhiêu cuốn sách một lúc?</b></span>
			<br/>
			<div class="text">
				Tối đa 3 cuốn.
			</div></td>
		</tr>
		<tr>
			<td><span id="id34" class="text-info"><b>Tôi có thể trễ hạn trả sách được không?</b></span>
			<br/>
			<div class="text">
				Không! Bạn sẽ bị phạt nếu trễ hạn sách.
				<br/>
				Nếu trễ hạn quá lâu, chúng tôi buộc phải có những biện pháp mạnh.
			</div></td>
		</tr>
	</table>
	<table class="table table-bordered">
		<span id="id4"></span>
		<thead>
			<th class=" label-success"> Khác </th>
		</thead>
		<tr>
			<td><span id="id40" class="text-info"><b>Tôi phải làm thế nào nếu vấn đề tôi cần biết không có ở đây?</b></span>
			<br/>
			<div class="text">
				Bạn có thể liên hệ với chúng tôi bằng cách xem thông tin mục <a href="/contact" class="text-info">Contact</a> .
			</div></td>
		</tr>
	</table>
</div>

