	<h1>Home#view</h1>
	<p style="text-align: center;">Banner put in here</p>
		<div class="container-fluid">
		<div class="span10">
			<%= render 'topbar'%>
			<%= render 'content'%>
		</div>
		<div class="span2">
			<%= render 'rightbar'%>
		</div>
	</div>
	