%table#show_books.display
  %thead
    %tr
      %th Book ID
      %th Book Title
      %th Author
      %th Publisher
      %th Content
      %th Pages
      %th Topic
      %th Quantity
      %th Current Quantity
  %tbody= render @books
