<link href="http://fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
<div class="books-one-content">
	<div class="row-fluid">
	<a href="#"><img src="../assets/prev.png" alt="" class="pull-left" style="margin-top:25px"></img></a>
	<div class="slides" style="margin-left:135px">
	<li class="span2">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
	</li>
	<li class="span2">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
	</li>
	<li class="span2">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
	</li>
	<li class="span2">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
	</li>
	<li class="span2">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
	</li>
	</div>
	<a href="#"><img src="../assets/next.png" alt="" class="pull-right" style="margin-top:25px"></img></a>
	</div>
</div>
<div class="books-one-details">
	<div class="row-fluid" style="font-family:Berkshire Swash;">
		<li class="span3">
		<a href="#" class="thumbnail">
			<img src="../assets/260x180.jpg" alt=""></img>
		</a>
		</li>
		<li class="span6" >
		<span style="font-size:20px" class="label label-success">Duong cong hoan hao</span>
			<hr>
			<span class="label ">Mã số </span> <span class="label label-important" style="margin-left:10px;cursor:pointer">Default</span><br/>
			<span class="label ">Tác giả </span> <span class="label label-info"style="margin-left:10px;cursor:pointer">Default</span><br/>
			<span class="label ">Nhà xuất bản </span> <span class="label label-info" style="margin-left:10px;cursor:pointer">Default</span><br/>
			<span class="label ">Số trang </span> <span class="label label-info" style="margin-left:10px;cursor:pointer">Default</span><br/>
			<span class="label ">Loại sách </span> <span class="label label-info" style="margin-left:10px;cursor:pointer">Default</span><br/>
			<span class="label ">Rating </span> <span class="label label-info" style="margin-left:10px;cursor:pointer">Default</span><br/>
			
		</li>
		<li class="span3">
		<span class="label label-inverse">Số lượng sách</span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">10</span></br>
		<span class="label label-inverse">Yêu cầu </span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">8</span></br>
		<span class="label label-inverse">Không đáp ứng </span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">0</span></br>
		<span class="label label-inverse">Vị trí xếp giá</span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">10e</span></br>
		<span class="label label-inverse">Ký hiệu xếp giá</span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">3cf9</span></br>
		<br/>
		<button class="btn btn-mini" type="button"><span class="icon-refresh"> </span> Đặt sách</button>
		<button class="btn btn-mini" type="button"><span class="icon-eye-open"> </span> Xem sau</button>
		</li>
	</div>
</div>
<div class="books-one-details">
	<div class="row-fluid">
	<div class="span6">
		<strong>Tóm Tắt Nội Dung</strong>
		<hr>
		Deb Perelman loves to cook. She isn’t a chef or a restaurant owner—she’s never even waitressed. Cooking in her tiny Manhattan kitchen was, at least at first, for special occasions—and, too often, an unnecessarily daunting venture. Deb found herself overwhelmed by the number of recipes available to her. Have you ever searched for the perfect birthday cake on Google? You’ll get more than three million results. Where do you start? What if you pick a recipe that’s downright bad?

		So Deb founded her award-winning blog, Smitten Kitchen, on the premise that cooking should be a pleasure, and that the results of your labor can—and should—be delicious . . .  every time. Deb is a firm believer that there are no bad cooks, just bad recipes. She has dedicated herself to creating and finding the best of the best and adapting the recipes for the everyday cook. 

		And now, with the same warmth, candor, and can-do spirit her blog is known for, Deb presents her first cookbook: more than 100 recipes—almost entirely new, plus a few favorites from the site—all gorgeously illustrated with hundreds of her beautiful color photographs.

		The Smitten Kitchen Cookbook is all about approachable, uncompromised home cooking. Here you’ll find better uses for your favorite vegetables: asparagus blanketing a pizza; ratatouille dressing up a sandwich; cauliflower masquerading as pesto. These are recipes you’ll bookmark and use so often they become your own, recipes you’ll slip to a friend who wants to impress her new in-laws, and recipes with simple ingredients that yield amazing results in a minimum amount of time. Deb tells you her favorite summer cocktail; how to lose your fear of cooking for a crowd; and the essential items you need for your own kitchen. From salads and slaws that make perfect side dishes (or a full meal) to savory tarts and galettes; from Mushroom Bourguignon to Chocolate Hazelnut Crepe Cake, Deb knows just the thing for a Tuesday night, or your most special occasion.
		</div>
	<div class="span6">
		<strong>Comments</strong>
		<hr>
			<div >
			<img src="http://placehold.it/50x50" class="pull-left img-rounded"></img>
			<div class="alert alert-success " style="margin-left:67px;">
			 <strong style="color:#F89406;">Larzar </strong> <span style="color:#999999">says:</span/><br>
			  hay vãi shit<br>
			</div>
			</div>
			<div >
			<img src="http://placehold.it/50x50" class="pull-right img-rounded"></img>
			<div class="alert alert-success " style="margin-right:67px;">
			 <strong style="color:#F89406;">Larzar </strong> <span style="color:#999999">says:</span/><br>
			  hay vãi shit<br>
			</div>
			</div>
			<div>
			<textarea class="span12" ></textarea>
			<button class="btn">Send</button>
			</div>
	</div>
	</div>
</div>