<link href="http://fonts.googleapis.com/css?family=Baumans&subset=latin" rel="stylesheet" type="text/css">
<style type="text/css">
	body {
		font-family: Baumans, sanserif;
		background: #f8f5ee url("../assets/bg.jpg") repeat-x;
		background-position: 1px 0px;
	}
</style>
<div style="height:200px;"></div>
<div class="container-fluid">
	<div class="span10">
		<%= render 'topbar'%>
		<div class="books-content">
			<%=render 'search'%>			
			</div>
	</div>
	<div class="span2">
		<%= render 'rightbar'%>
	</div>
