<div class="container-fluid">
	<div class="span10">
		<%= render 'topbar'%>
		<div class="books-content">
			<%= render 'search'%>
		</div>
	</div>
	<div class="span2">
		<%= render 'rightbar'%>
	</div>
</div>
