<center>
	<section class="slide subtheme-1 selected" id="team" style="height: 640px;">
		<h2 class="team-headline tk-myriad-pro"
		style="padding: 30px 0px 40px 0px;font-weight: 600;color: #566B80;font-size: 62px;text-align: center;"> A well suited team.</h2>
		<div class="team-men">
			<img src="/assets/team-men.png" alt="" width="501" height="324">
		</div>
		<div id="member">
			<table border="1" bordercolor="#47aaca" cellpadding="5px" width="50%">
				<thead style="column-span: 40px;background-color: #47aaca;">
					<tr>
						<td><b></bt>Thành viên</b></td>
						<td><b>MSSV</b></td>
					</tr>
				</thead>
				<tr>
					<td>Nguyễn Văn Quân</td>
					<td>50902143</td>
				</tr>
				<tr>
					<td>Nguyễn Duy Tài</td>
					<td>5090xxxx</td>
				</tr>
				<tr>
					<td>Phạm Minh Thành</td>
					<td>5090xxxx</td>
				</tr>
				<tr>
					<td>Đinh Trần Thái Sơn</td>
					<td>5090xxxx</td>
				</tr>
				<tr>
					<td>Đặng Ngọc Vũ</td>
					<td>5090xxxx</td>
				</tr>
			</table>
		</div>
	</section>
</center>
