<link href="http://fonts.googleapis.com/css?family=Baumans&subset=latin" rel="stylesheet" type="text/css">
<style type="text/css">
	body {
		font-family: Baumans, sanserif;
		background: #f8f5ee url("../assets/bg.jpg") repeat-x;
		background-position: 1px 0px;
	}
</style>
<div class="inside" style="display: block;overflow: hidden;height: 100%;width: 90%;margin: 0 auto;text-align: left">
	<div class="column max" style="float: left;	width: 30%px;margin-top: 28px;">
		<span></span>
	</div>
	<form action="" method="post" class="column" id="contactform" style="float: left;width: 30%;margin-top: 28px;">
		<div>
			<p class="info sendinfo" style="margin: 0 0 24px 0;	height: 31px;line-height: 31px;text-align: center;font-size: 15px;
			background-color: #FAFAFA;color: #161618;position: relative;text-transform: uppercase;width: 80%">
				Send a Message<span></span>
			</p>
		</div>
		<div>
			<label for="cname" >Name</label>
			<input type="text" style="width: 80%;" name="cname" >
		</div>
		<div>
			<label for="cemail">Email</label>
			<input type="text" style="width: 80%;" name="cemail">
		</div>
		<div>
			<label for="cmessage">Message</label>
			<textarea name="cmessage" style="width: 80%; height: 150px"></textarea>
		</div>
		<div>
			<input type="submit" class="btn" value="Send" >
		</div>
	</form>
	<div class="column" style="float: left;	width: 30%;margin-top: 28px;margin-left: 5%">
		<p class="info emailinfo" style="margin: 0 0 24px 0;height: 31px;line-height: 30px;text-align: center;font-size: 15px;
		background-color: #FAFAFA;color: #161618;	position: relative;	text-transform: uppercase;width: 80%">
			Email / Address
			<span></span>
		</p>
		<p>
			<i class="icon-envelope"></i>
			<a href="mailto:admin@crazylib.com" class="email">admin@crazylib.com</a>
		</p>
		<p>
			<i class="icon-user"></i>
			Crazy Team
			<br>
			University of Technology
			<br>
			Ho Chi Minh City, Viet Nam
		</p>
	</div>
	<div class="column" style="float: left;width: 30%;margin-top: 28px; margin-left: 5%">
		<p class="info ringinfo" style="height: 31px;line-height: 30px;text-align: center;font-size: 15px;
		background-color: #FAFAFA;color: #161618;position: relative;text-transform: uppercase;width: 60%;">
			Or Give Me a Ring<span></span>
		</p>
		<p class="tel">
			+84 (0)8 xxx xxxx
		</p>
	</div>
</div>