<link href="http://fonts.googleapis.com/css?family=Baumans&subset=latin" rel="stylesheet" type="text/css">
<style type="text/css">
	body {
		font-family: Baumans, sanserif;
		background: #f8f5ee url("../assets/bg.jpg") repeat-x;
		background-position: 1px 0px;
	}
</style>


<table class="table table-bordered">
	<thead>
		<th class=" label-success"> Quy định thư viện </th>
	</thead>
	<tr>
		<td class="text"> 
		<ol>
			<li>
				Giờ mở cửa <br/>
				Thứ 2 đến thứ 6.Sáng: Từ 7h30 - 11h30.Chiều: Từ 13h00 -17h00.<br>
				Không mở cửa vào các ngày nghỉ và thứ 7, chủ nhật.
			</li>
			<li>
				Thành viên <br/>
				Sinh viên, giảng viên của trường Đại học Bách khoa mới được đăng ký thành viên.<br/>
			</li>
			<li>
				Thẻ thư viện <br/>
				Phải có thẻ thư viện thì mới được đến thư viện và mượn sách.
			</li>
			<li>
				Mượn sách <br/>
				Thành viên không được mượn số sách vượt quá quy định.<br/>
				Thành viên phải trả sách đúng hạn, chúng tôi có những chế tài để phạt những thành viên trễ hạn trả sách.<br/>
				Thành viên phải bảo quản sách, không được làm hư hại sách.
			</li>
			<li>
				Phạt<br>
				Làm hư sách hoặc mất sách bị phạt đền sách mới hoặc số tiền in sau sách.<br>
				Trễ hạn trả sách trong thời gian ít hơn 1 tháng bị phạt tiền tuỳ vào mức độ.<br/>
				Trễ hạn trả sách quá thời gian 1 tháng sẽ bị huỷ thành viên, truy cứu trách nhiệm.
			</li>
		</ol>
		</td>
	</tr>
</table>
