%table#show_users.display
  %thead
    %tr
      %th Nickname
      %th Email
      %th Register date
      %th End date
      %th Group
      %th Student ID
      %th Class Name
      %th Address
      %th Phone number
      %th Books borrowed
  %tbody= render @users
